* {
  box-sizing: border-box;
  color: var(--text)
}

body {
  display: flex;
  min-width: 100vw;
  flex-direction: column;
  align-items: center;
  background: var(--base)
}

a {
  color: inherit;
  text-decoration: none;
}
